<ul>
<% @articles.each do |article| %>
  <li>
    <a href="/articles/<%= article.id %>">
      <%= article.title %> 
    </a>
  </li>
<% end %>
</ul>

<p> im here </p>
<a href='/articles/new'> this is new article </a>

