<!DOCTYPE html>
<html>
<head>All Articles</head>
<body>
    <nav>
        <a href='/articles'>All Articles</a>
        <a href='/articles/new'>New Article</a>
    </nav>

    <h1>All Articles</h1>

    <% @@articles.each do |article| %>
       <a href="/articles/<%= article.id %>"<h2><%= article.title %></h2></a><br>
    <% end %>
    
</body>
</html>